* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

p {
    font-size: x-large;
}

.leftContainer {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numbers {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center
}

.num {
    border: 1px solid black;
    padding: 5px;
    ;
    border-radius: 5px;
}

.rightContainer {
    background-color: purple;
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 300px;
    height: 200px;
}